{% extends 'base-profile.html.twig' %}


{% set title = 'Mon profil' %}


{% block profileBody %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ app.user }}</td>
                </tr>
                <tr>
                    <th>Créé le</th>
                    <td>{{ app.user.createdAt|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ app.user.updatedAt|date('d/m/Y H:i') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
