{% extends 'email-pdf/base-email-pdf.html.twig' %}

{% block title %}
    Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
    <container>
        <spacer size="16"></spacer>
        <container>
            <row>
                <columns>
                    <spacer size="16"></spacer>
                    <h1 class="text-center">Demande de réinitialisation de mot de passe</h1>
                    <spacer size="16"></spacer>
                    <p class="text-center">Si cette demande ne vient pas de vous, vous pouvez ignorer cet email.</p>
                    <button class="large expand"
                            href="{{ absolute_url(path('RESET_PASSWORD_SUBMIT', {'email':userForgotPassword.email,'token': userForgotPassword.token})) }}">
                        Changer de mot de passe
                    </button>
                </columns>
            </row>
            <spacer size="16"></spacer>
        </container>
    </container>
{% endblock %}
