{% extends 'base.html.twig' %}

{% block title %}
    Tarifs et fonctionnement - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Tarifs et fonctionnement</h1>
    </div>
{% endblock %}

