{% extends 'base.html.twig' %}

{% block title %}
    Vos questions - {{ parent() }}
{% endblock %}

{% block body %}
    {{ component('TopBannerComponent',{
        'title':'Vos questions',
        'page':'faq'
    }) }}
    <div class="container">
        <h2 class="text-center my-5">
            Vos préoccupations
            <br>
            <small>... nos solutions et réponses</small>
        </h2>

        <div class="row">
            <div class="col-md-6">
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="false">
                                Je ne sais pas quel(s) module(s) choisir pour mon enfant
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Pour les bacheliers de premières, il faut privilégier les modules 1 et 2. Ces modules
                                permettront d'avoir une conscience très claire des contenus du commentaire et de la
                                dissertation. Par exemple nous expliquerons très concrètement comment trouver une
                                "problématique" valable dans une introduction. Ce terme "problématique", entre
                                autres, ne sera plus alors un mot abstrait vide de sens. Chaque composante du
                                commentaire et de la dissertation sera ainsi définie et expliquée clairement afin que
                                votre jeune soit complètement autonome et qu'il ne soit pas tenté seulement d'imiter une
                                façon de faire qu'il n'a finalement pas bien comprise. Les modules 1 et 2 mais également
                                le module 5 pour les terminales proposent, et c'est le plus important, une méthode
                                précise et concrète en cinq étapes. Une méthode, c'est-à-dire "comment je fais, moi,
                                pour arriver à construire, seul et en situation, un commentaire ou une dissertation ?".
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="false">
                                Comment je peux être sûr(e) qu'il y aura des résultats
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                La garantie du résultat repose sur la personnalité du professeur et son expérience
                                particulière avec des élèves de tous milieux et niveaux. La méthodologie mise au point
                                par Stéphan Levacher a prouvé son efficacité auprès de centaines d'élèves qui ont pu
                                appliquer les principes de cette méthode bien au-delà de leurs parcours de lycéens.
                                <br>
                                Vous aurez certainement un retour favorable de votre enfant dès la première séance
                                d'1h30...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="false">
                                Avec qui sera mon enfant pendant les modules?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Votre adolescent sera dans un groupe de 5 élèves maximum, en présence constante du
                                professeur. Tous les participants du groupe seront du niveau scolaire correspondant au
                                module choisi. Le travail en petit groupe est très propice à l'apprentissage et aux
                                échanges constructifs.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4" aria-expanded="false">
                                6H pour un module, ce n'est pas trop long?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                C'est le temps dont nous avons besoin pour développer sérieusement les contenus exposés
                                dans la présentation de chaque module (voir "Nos modules de cours"). Les modules 1,
                                2 et 5 sont exigeants en termes d'attention mais ils permettent une mise à niveau rapide
                                et très efficace, même pour les élèves qui n'ont quasiment aucun repères techniques.
                                L'idéal serait, pour les premières, de réaliser également les modules 4 et 5 pour s'entrainer
                                sérieusement aux épreuves et consolider les nouveaux acquis méthodologiques.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse5" aria-expanded="false">
                                Comment sont programmés les modules ?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Ils ont lieu durant les périodes de vacances scolaires parisiennes. Les créneaux
                                horaires sont les suivant : 9h-10h30, 11h-12h30, 13h30-15h, 15h30-17h et 17h30-19h. Le
                                créneau horaire choisi dans votre réservation reste le même sur les 4 jours consécutifs
                                du module. Par exemple, vous choisissez le Module 1 "Le commentaire composé" de 9h à
                                10h30, du lundi au jeudi.
                                <br>
                                Vous trouverez la répartition des modules dans le planning des vacances scolaires,
                                rubrique "Réservation"
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse6" aria-expanded="false">
                                Comment puis-je suivre l'évolution de mon enfant ?
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Chaque élève est amené à prendre rigoureusement par écrit le cours du module choisi, ce
                                qui lui permettra de s'y référer précisément dans sa pratique nouvelle, en attendant
                                d'avoir tout bien fixé, intégré, par le biais de cette pratique.
                                <br>
                                Vous pourrez contacter le professeur pendant et après chaque module.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse7" aria-expanded="false">
                                Où et comment se passent les cours?
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Les cours ont lieux dans une salle spacieuse, agréablement aménagée et bien éclairée par
                                la lumière du jour, au 22 boulevard de Belleville (métro Ménilmontant ou Couronnes),
                                75020 Paris.
                                <br>
                                Vous pouvez aussi constituer un groupe de 5 élèves (camarades de classe, amis, famille)
                                et les réunir chez vous, autour du professeur, sur Paris ou en proche banlieue. Vous
                                bénéficierez ainsi de la GRATUITÉ pour un élève, en tant qu'Hôte de groupe.
                                <br>
                                Les modules sont également dispensés en Visio. <br>
                                Possibilité pour les parents de voir la salle de cours et d'assister à la première heure de cours (en
                                Visio).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

