{% extends 'base.html.twig' %}

{% block title %}
    Le professeur - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Le professeur</h1>
    </div>
{% endblock %}

