{% extends 'base.html.twig' %}

{% block title %}
    Le professeur - {{ parent() }}
{% endblock %}

{% block body %}
    {{ component('TopBannerComponent',{
        'title':'Le professeur',
        'page':'professeur'
    }) }}
    <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="{{ asset('images/professeur.png') }}" alt="Stephan Levacher" class="img-fluid">
          </div>
          <div class="col-md-8">
              <p>
                  Je m’appelle Stéphan Levacher et j’ai une grande expérience de l’enseignement, en tant notamment que
                  professeur de français et de philosophie au lycée durant plus de 25 ans. J’ai également été éducateur puis
                  directeur d’établissement hors-contrat.
              </p>

              <p>
                  Ce métier est une passion qui m’anime toujours autant, même si d’autres activités, d’auteur-conférencier et
                  d’organisateur d’événements concernant la philosophie du patrimoine, font que je n’enseigne plus dans le cadre
                  d’une structure scolaire. Je consacre à présent mon temps limité d’enseignement à des cours particuliers et en
                  petits groupes.
              </p>

              <p>
                  J’ai pu constater le besoin qui s’accroit depuis quelques années d’un renforcement de l’enseignement des
                  méthodes. C’est pourquoi j’ai fondé le Cours Stéphan.
              </p>

              <p>
                  Le problème de l’enseignement général actuel, c’est qu’il a perdu de vue les fondamentaux. Quant aux cours
                  extrascolaires proposés pour compenser un véritable dysfonctionnement, il faut le dire, ils sont confiés le plus
                  souvent, pour des raisons commerciales à des étudiants…
              </p>

              <p>
                  Les techniques essentielles de la dissertation et du commentaire sont peu et souvent mal expliquées. On espère
                  sans doute qu’une sorte de mimétisme magique fera que ces outils essentiels de la pensée seront suffisamment au
                  point à la fin du lycée pour permettre d’affronter les études supérieures…
              </p>

              <p>
                  Les techniques du commentaire et de la dissertation régissent en effet tout le parcours de formation d’un
                  étudiant au moins jusqu’à la licence (ou équivalent), et les mémoires de masters sont des formes plus déployées
                  de la pensée en arborescence, que la « gymnastique de l’esprit » pratiquée au lycée, disait Nietzsche, aurait dû
                  rendre peu à peu naturelles…
              </p>

              <p>
                  Le but des méthodes qui peuvent être décrites rigoureusement et intégrées profondément durant un module de 6
                  heures, est de donner en effet à chaque étudiant la possibilité d’acquérir une autonomie efficace aussi bien
                  dans l’analyse d’un objet (texte ou autre) que dans le développement d’un raisonnement, d’une pensée (digne de
                  ce nom) sur tel ou tel sujet.
              </p>

              <p>
                  Autonomie et créativité sont donc les maîtres mots des MODULES des COURS STEPHAN.
              </p>

          </div>
      </div>

    </div>
{% endblock %}

