{% extends 'base.html.twig' %}

{% block title %}
    Le professeur - {{ parent() }}
{% endblock %}

{% block body %}
    {{ component('TopBannerComponent',{
        'title':'Le professeur',
        'page':'professeur'
    }) }}
    <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="{{ asset('images/professeur.png') }}" alt="Stéphan Levacher" class="img-fluid">
          </div>
          <div class="col-md-8">
              <p>
                  Je m’appelle Stéphan Levacher. J’ai une expérience de l’enseignement en
                  tant que professeur de français et de philosophie depuis plus de 30 ans.
              </p>
              <p>
                  J’ai d’autre part été éducateur et directeur d’établissement hors-contrat
                  (collège-lycée).
              </p>
              <p>
                  Ce métier est une passion qui m’anime toujours autant. Auteur,
                  conférencier, organisateur d’événements concernant la philosophie du
                  patrimoine, je consacre à présent mon temps limité d’enseignement aux cours
                  particuliers et en petits groupes.
              </p>
              <p>
                  Plusieurs raisons m’ont motivé à fonder le Cours Stéphan :
              </p>
              <ol>
                  <li>
                      Le problème de l’enseignement général actuel, c’est qu’il a tendance à
                      perdre de vue les fondamentaux.
                  </li>
                  <li>
                      Les cours extrascolaires proposés pour compenser certains
                      dysfonctionnements sont confiés le plus souvent à des étudiants dont ça
                      n’est pas le métier.
                  </li>
                  <li>
                      Les techniques essentielles de la dissertation et du commentaire sont
                      trop approximativement expliquées alors qu’elles déterminent la qualité
                      des apprentissages et la réussite aux examens et concours, du lycée
                      jusqu’au plus haut niveau des études supérieures.
                  </li>
              </ol>
              <p>
                  Mes modules de 6h permettent d’acquérir une autonomie aussi bien
                  dans l’analyse d’un objet (texte ou autre) que dans le développement d’un
                  raisonnement, d’une pensée (digne de ce nom) !
              </p>
              <p>
                  Autonomie et créativité seront donc les maîtres mots des MODULES des
                  COURS STÉPHAN.
              </p>

          </div>
      </div>

    </div>
{% endblock %}

