{% extends 'base.html.twig' %}

{% block title %}
    Tarifs et fonctionnement - {{ parent() }}
{% endblock %}

{% block body %}
    {{ component('TopBannerComponent',{
        'title':'Tarifs et fonctionnement',
        'page':'tarifs-fonctionnement'
    }) }}
    <div class="container">
        <h2>COMBIEN</h2>
        <ul>
            <li>200€ par module de 6 heures réparties en 4 fois 1h30</li>
            <li>Gratuité pour les HÔTES DE GROUPE : Vous parvenez à constituer un groupe de 5 étudiants et vous pouvez nous recevoir à votre domicile, le module est alors gratuit pour l’un des vôtres.</li>
            <li>Possibilité de bénéficier du CESU</li>
        </ul>
        <hr>
        <h2>QUI</h2>
        <ul>
            <li>Tous les cours sont dispensés par Stéphan Levacher</li>
        </ul>
        <hr>
        <h2>OÙ</h2>
        <p>
            Les cours ont lieu
        </p>
        <ul>
            <li>au 22 Boulevard de Belleville, 75020 Paris</li>
            <li>ou bien au domicile d’un hôte de groupe</li>
            <li>ou  bien en Visio</li>
        </ul>
        <hr>
        <h2>COMMENT</h2>
        <ul>
            <li>Réservation sur le site internet ou par téléphone au 06 18 83 83 60</li>
        </ul>
        <hr>
        <h2>QUAND</h2>
        <ul>
            <li>Pendant les vacances scolaires (1h30 sur 4 jours consécutifs)</li>
            <li>Créneaux proposés : 9h-10h30, 11h-12h30, 13h30-15h, 15h30-17h, 17h30-19h</li>
        </ul>
    </div>
{% endblock %}

