{% extends 'base.html.twig' %}

{% block title %}Réservation {{ schedule.name}} - {{ parent() }}{% endblock %}

{% block body %}
    {{ component('TopBannerComponent',{
        'title':'Réservation '~schedule.name,
        'subTitle':'Du '~schedule.startAt|carbon_format('l jS F Y')~' au '~schedule.endAt|carbon_format('l jS F Y')
    }) }}
    <div class="container">
        <p class="h5">
            Cliquez sur le module souhaité pour réserver.
        </p>
        {{ component('CheckoutCalendar',{
            schedule:schedule,
            modules:modules,
            modulesFormated:modulesFormated,
            cart:cart,
        }) }}
    </div>
{% endblock %}