{% extends 'base.html.twig' %}

{% block title %}Réservation - {{ parent() }}{% endblock %}

{% block body %}
    {{ component('TopBannerComponent',{
        'title':'Réservation'
    }) }}
    <div class="container">
        <p>
            Cliquez sur le module souhaité pour réserver.
        </p>
        {{ component('CheckoutCalendar',{
            schedule:schedule,
            modules:modules,
            events:events,
            cart:cart,
        }) }}
    </div>
{% endblock %}