{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <div class="container">
        {{ component('CheckoutCalendar',{
            schedule:schedule,
            modules:modules,
            events:events,
            cart:cart,
        }) }}
    </div>
{% endblock %}