{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Cours Stephan</h1>
        <h2>
            Français (écrit, oral), philosophie, art du raisonnement
            <br>
            Préparation bac et autres examens
        </h2>
        <p>
            Pour un apprentissage efficace des techniques fondamentales de la dissertation et du commentaire !
            <br>
            Une bonne technique facilitera considérablement les études supérieures !
        </p>
        <p>
            Des méthodes très précises et pragmatiques applicables à toutes les matières rédactionnelles.
            <br>
            Des outils mis au point par une longue pratique diversifiée.
        </p>
        <p>
            Un seul professeur, pas de délégation de cours à des personnes dont ça n’est pas le métier ni la compétence
            !
        </p>
        <p>
            Répondre sérieusement aux besoins.
            <br>
            Compenser et dépasser les failles du système éducatif actuel : évitement des méthodes, imprécision,
            confusion…
        </p>
        <p>
            Redonner du sens aux méthodologies, les rendre ainsi passionnantes et pérennes.
        </p>
    </div>
{% endblock %}
