{% extends 'email-pdf/base-email-pdf.html.twig' %}

{% block title %}
    Confirmation de votre inscription sur la boutique Cours Stéphan
{% endblock %}

{% block body %}
    <container>
        <div class="row">
            <div class="col-md-12">
                <h1>Bonjour</h1>
                <p>
                    Nous sommes ravis de vous accueillir sur notre boutique en ligne (<a
                            href="https://cours-stephan.fr">https://cours-stephan.fr</a>)
                    Votre inscription a été validée avec succès.
                    Votre compte est prêt à être utilisé, ce qui signifie que vous pouvez dès à présent passer des
                    commandes en toute simplicité.
                    Voici quelques avantages dont vous bénéficiez en tant que membre inscrit :
                </p>
                <ul>
                    <li> Plus de 150 000 références - Notre sélection s'agrandit et centralise tous vos besoins en
                        informatique.
                    </li>
                    <li> Visibilité sur vos stocks dédiés éventuels qui vous assurent d’une disponibilité immédiate et
                        d’un prix fixe – Vos déploiements sont facilités
                    </li>
                    <li> Livraison et facturation au fil de l’eau de votre stock dédié – Gestion de votre trésorerie
                    </li>
                    <li> Commandez en un clic - Grâce à notre fonctionnalité "Mon Panier," simplifiez vos achats en
                        ligne.
                    </li>
                    <li> Gestion des droits et accès – Gérez les accès des collaborateurs de votre entreprise.</li>
                    <li> Création de devis en ligne - Économisez du temps</li>
                    <li> Service client dédié - Nous sommes là pour répondre à toutes vos questions.</li>
                    <li> Promotions exclusives et déstockage limité - Ne manquez pas nos offres ponctuelles.</li>
                    <li> Libre accès à notre plateforme : Explorez notre catalogue quand vous le souhaitez, où que vous
                        soyez.
                    </li>
                    <li> Blog d'experts - Obtenez des conseils d'experts pour faciliter vos choix.</li>
                    <li> Tout pour l'informatique - Trouvez tout, des ordinateurs aux câbles réseau, en passant par les
                        composants.
                    </li>
                    <li> Fiches techniques téléchargeables - Toutes les informations techniques à portée de main.</li>
                    <li>Livraison en 24</li>
                    /48h
                    <li> Visualisation des stocks en temps réel</li>
                </ul>

                <p>
                    Si vous avez la moindre question concernant votre compte ou si vous avez besoin d'aide pour passer
                    une commande, n'hésitez pas à contacter notre service clientèle au 05.45.37.08.15 ou sur
                    <a href="mail:distribution@novenci.fr">distribution@novenci.fr</a>
                    A très bientôt
                    L'équipe Cours Stéphan
                </p>
            </div>
        </div>
    </container>
{% endblock %}
