<section id="reserver" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
        <h2 class="text-center">Nous vous proposons {{ modules|length }} modules de cours !</h2>

        <ul class="list-group">
            {% for module in modules %}
                <li class="list-group-item d-flex justify-content-between align-items-start ps-5" style="border-left: 10px solid {{ module.color }}">
                    <div class="row w-100">
                        <div class="col-md-2">
                            <div class="fw-bold" ><span class="me-5">Module {{ module.number }}</span></div>
                        </div>
                        <div class="col-md-10">
                            {{ module.name }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>