{% import 'macro/_module-macro.html.twig' as moduleMacro %}

<section class="modules" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for module in modules %}
                    <div class="swiper-slide">
                        {{ moduleMacro.moduleCard(module) }}
                    </div>
                {% endfor %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        <p class="my-5">
            * Il faut environ 20 mn pour corriger une copie de bac. Une annotation rigoureuse permettra à chaque étudiant d’effectuer les réglages
            nécessaires (orthographe lexicale, orthographe grammaticale, problèmes techniques divers et variés). C’est en opérant ces réglages,
            copie après copie, que l’on fait évoluer foncièrement son niveau. <br>
            2* À RENDRE PAR L’ÉTUDIANT DANS LES 15 JOURS APRÈS LE DERNIER COURS DU MODULE <br>
            3* Correction effectuée moins de 8 jours après la réception de la copie par mail
        </p>
    </div>
</section>