@import "parts/override-bootstrap";

// 8. Add additional custom code here
//@import "bootstrap";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";


@import "parts/reservation";
@import "parts/module";
@import "parts/top-banner";
@import "@fortawesome/fontawesome-free/css/all.css";


.schedules {
  .schedule {
    margin-bottom: map-get($spacers, 5);
    padding: 30px 60px;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: $box-shadow-sm;
    position: relative;
    transition: .2s all ease-in-out;

    .link {
      position: absolute;
      inset: 0;
      z-index: 15;
    }

    .content {
      color: $primary;
      display: flex;
      text-transform: uppercase;
      font-size: 25px;

      & > div {
        margin-left: map-get($spacers, 5);

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &:hover {
      padding-left: 80px;
    }
  }
}