{% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
{% set renderResetButton = craue_formflow_button_render_reset is defined ? craue_formflow_button_render_reset : true %}

{% set renderResetButton = false %}


<div class="row g-3">
    {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}

    {% if renderBackButton %}
        <div class="col-md">
            <button name="flow_checkout_transition" type="submit" value="back" formnovalidate="formnovalidate" class="btn btn-primary w-100">
                Prev
            </button>
        </div>
    {% endif %}

    {% if not isLastStep %}
        <div class="col-md">
            <button type="submit" class="btn btn-primary w-100">
                Suivant
            </button>
        </div>
    {% endif %}

    {% if isLastStep %}
        <div class="col-md">
            <button type="submit" class="btn btn-primary w-100">
                Fin
            </button>
        </div>
    {% endif %}
</div>
