{% extends 'base.html.twig' %}

{% block title %}Programmes{% endblock %}

{% block body %}
    <div class="container">
        {% for shedule in shedules %}
            <p>
                <a href="{{ path('APP_SHEDULE',{sheduleId:shedule.id}) }}">
                    {{ shedule.name }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}