{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <div class="container">
        {{ component('CheckoutCalendar',{
            shedule:shedule,
            events:events,
        }) }}
    </div>
{% endblock %}