<div{{ attributes }}>
    {% set flow = this.flow %}


    <div class="container">
        {% if this.cart %}

            {%- if flow.getStepLabels() is not empty -%}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for step in flow.steps %}
                            <li class="breadcrumb-item{{ step.number == flow.currentStepNumber?' text-primary':'' }}">
                                {{- step.label | trans -}}
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            {%- endif -%}


            <div class="row">
                <div class="col-md-5">
                    {% include 'components/CheckoutParts/_form.html.twig' %}
                </div>
                <div class="col-md">
                    {% include 'components/CheckoutParts/_right-recap.html.twig' %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info mb-0">
                Pas de panier
            </div>
        {% endif %}
    </div>
</div>
