<section id="reservation" data-aos="fade-up">
    <div class="content">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-10">
                    <p class="mb-0">
                        Prêt à passer à l'action et enrichir votre parcours d'apprentissage ? Ne perdez plus de temps !
                        Réservez votre prochain cours en ligne dès maintenant en cliquant sur le bouton ci-dessous. Des
                        opportunités d'apprentissage passionnantes vous attendent.
                        <br>
                        Le savoir est à portée de clic.
                    </p>
                </div>
                <div class="col-md">
                    <a class="btn btn-outline-primary reservation-main-link"
                       href="{{ path('APP_RESERVATION_SCHEDULES') }}">
                        Reservation
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>