{% macro moduleCard(module) %}
    <div class="module card text-bg-primary">
        <a href="{{ path('APP_RESERVATION_SCHEDULES_BY_MODULE', {'moduleId': module.id}) }}" class="card-body">
            {{ module.name }}
        </a>
    </div>
{% endmacro %}